DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DB_NAME?sslmode=require"
FRONTEND_URL="http://localhost:5173"
BETTER_AUTH_SECRET="your-secret-key-min-32-chars"
ARCJET_KEY="ajkey_yourkey"
PORT=4000
